@font-face {
  font-family: 'AdobeClean-Light';
  src: url('AdobeClean-Light.eot');
  src: url('AdobeClean-Light.eot?#iefix') format('embedded-opentype'),
       url('AdobeClean-Light.svg#AdobeClean-Light') format('svg'),
       url('AdobeClean-Light.ttf') format('truetype'),
       url('AdobeClean-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

