@font-face {
	font-family: 'AdobeClean-Regular';
	src: url(../fonts/adobeclean/AdobeClean-Regular.ttf);
}

@font-face {
	font-family: 'AdobeClean-Light';
	src: url(../fonts/adobecleanlight/AdobeCleanUX-SemiLight.ttf);
}

@font-face {
	font-family: 'AdobeClean-Lighter';
	src: url(../fonts/adobecleanreallight/AdobeClean-Light.ttf);
}

:root {
	--cursor-pointer: pointer;
}

html,
body {
	/* display: inline-block; */
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	/* border: solid; */
	background: #262538;
	scroll-behavior: smooth;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--bg-color: brown;
}

h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font: normal normal 600 40px Source Code Pro;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 22px;
}

h3 {
	font-family: AdobeClean-Regular;
	font-size: 18px;
	letter-spacing: 0.8px;
}

a {
	cursor: var(--cursor-pointer);
}

button {
	/* border: #fff; */
	z-index: 3;
	width: 1.5em;
	height: 1.5em;
}

ul {
	padding: 0;
}

#activeNoHover {
	border: solid;
	z-index: 100;
}

.sideNavUL {
	margin-left: 3em;
}

.titleList {
	padding-bottom: 0.3em;
	padding-top: 0.2em;
	/* padding-left: 1em; */
	list-style-type: disclosure-open;
}

li {
	/* height: 2em; */
	/* list-style: katakana; */
	white-space: nowrap;
	vertical-align: bottom;
}

svg {
	position: fixed;
	/* border: solid; */
	z-index: 10;
}

.sideNavBorder {
	margin-left: -0.75em;
}

.sideNavBorder li {
	padding-left: 1.9em;
	padding-top: 0.1em;
	padding-bottom: 0.3em;
	display: block;
}

.sideNavBorder li:hover {
	background-color: #61607c80;
}

.test {
	/* border: solid; */
}

/* Classes */

.inline {
	display: inline-block;
}

.header {
	/* border: solid; */
	position: fixed;
	background: #323146;
	height: 3.5em;
	width: 100vw;
}

.headerSpaceFill {
	height: 3.5em;
}

.white {
	color: #ffffff;
}

.yellow {
	color: #ffe398;
}

.grey {
	color: #d5d5d9;
}

.darkGrey {
	color: #bfbfc5;
}

.pad {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.biggerTitle {
	font: normal normal 600 52px Source Code Pro;
}

.biggerContent {
	font-size: 29px;
}

.nav {
	/* border: solid; */
	background: #3a3950;
	/* top: 0px; */
	/* left: 0px; */
	width: 350px;
	height: 0;
}

.sideNav {
	/* border: solid; */
	background: #3a3950;
	position: fixed;
	z-index: 2;
	width: 270px;
	height: 100vh;
	top: 2.5em;
	color: #fff;
}

.navText {
	font-family: AdobeClean-Regular, sans-serif;
	font-size: 18.5px;
	letter-spacing: 0.8px;
}

.headerAntonio {
	position: fixed;
	/* border: solid; */
	z-index: 1;
	width: 270px;
	height: 100vh;
	background: #3a3950;
}

.tabContentPosition {
	/* border: solid; */
	max-width: 58em;
	/* This will be used with media queries to resize content */
}

.tabContent {
	/* border: solid; */
	position: absolute;
	bottom: 0em;
	left: 2.5em;
	/* padding-bottom: 10em; */
}

.tabCloseButton {
	position: fixed;
	top: 1.1em;
	margin-left: 10.2em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 2;
}

.tabCloseButtonAlt {
	position: fixed;
	top: 0.85em;
	margin-left: 9.85em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 2;
}

.grabbedTabCloseButton {
	position: fixed;
	margin-top: 1.1em;
	/* border: solid; */
	margin-left: 10.2em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 5;
	opacity: 80%;
}

.focusedTab {
	position: fixed;
	top: 0;
	width: 10em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: var(--cursor-pointer);
	z-index: 2;
	background: #262538;
}

.highlightedArea {
	background-color: #767595;
}

.grabbedFocusedTab {
	position: fixed;
	top: 0;
	width: 10em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	z-index: 5;
	background: #262538;
	opacity: 80%;
}

.tab {
	position: fixed;
	top: 0;
	width: 10em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: var(--cursor-pointer);
	z-index: 2;
	background: #4f4f69;
}

.bodyPosition {
	/* border: solid; */
	/* display: inline-block; */
	margin-left: 22em;
}

.contentDiv {
	/* border-left: solid;
	border-color: #504f6e; */
	/* border-width: 3.5px; */
	/* padding-left: 1em; */
}

.contentSide {
	border-left: solid;
	border-color: #504f6e;
	border-width: 3.5px;
	margin-left: 0.3em;
	padding-left: 2em;
	/* padding-left: 1em; */
}

.sideNavBorder {
	border-left: solid;
	border-color: #babac9;
	border-width: 2px;
}

.github {
	position: fixed;
	top: 0.7em;
	right: 1em;
}

/* ID's */

#codeAntonio {
	margin-left: 2em;
	color: #fff;
}

#offScreen {
	z-index: -1;
	display: none;
}

#grabbedTab {
	pointer-events: none;
}

/* The magic number is 191.9px increments */
