@font-face {
	font-family: 'AdobeClean-Regular';
	src: url(../fonts/adobeclean/AdobeClean-Regular.ttf);
}

@font-face {
	font-family: 'AdobeClean-Light';
	src: url(../fonts/adobecleanlight/AdobeCleanUX-SemiLight.ttf);
}

html,
body {
	/* display: inline-block; */
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	/* border: solid; */
	background: #262538;
	scroll-behavior: smooth;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--bg-color: brown;
}

h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font: normal normal 600 45px Source Code Pro;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 24px;
}

h3 {
	font-family: AdobeClean-Regular;
	font-size: 18px;
	letter-spacing: 0.8px;
}

a {
	cursor: pointer;
}

button {
	/* border: #fff; */
	z-index: 3;
	width: 1.5em;
	height: 1.5em;
}

.test {
	/* border: solid; */
}

/* Classes */

.inline {
	display: inline-block;
}

.header {
	/* border: solid; */
	position: fixed;
	background: #323146;
	height: 3.5em;
	width: 100vw;
}

.headerSpaceFill {
	height: 3.5em;
}

.white {
	color: #ffffff;
}

.yellow {
	color: #ffe398;
}

.grey {
	color: #d5d5d9;
}

.pad {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.biggerTitle {
	font: normal normal 600 52px Source Code Pro;
}

.biggerContent {
	font-size: 29px;
}

.nav {
	/* border: solid; */
	background: #3a3950;
	/* top: 0px; */
	/* left: 0px; */
	width: 350px;
	height: 0;
}

.sideNav {
	/* border: solid; */
	background: #3a3950;
	position: fixed;
	z-index: 2;
	width: 270px;
	height: 100vh;
	top: 2.5em;
	color: #fff;
}

.navText {
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
}

.headerAntonio {
	position: fixed;
	/* border: solid; */
	z-index: 1;
	width: 270px;
	height: 100vh;
	background: #3a3950;
}

.tabContentPosition {
	/* border: solid; */
	max-width: 58em;
	/* This will be used with media queries to resize content */
}

.tabContent {
	/* border: solid; */
	position: absolute;
	bottom: 0em;
	left: 2.5em;
	/* padding-bottom: 10em; */
}

.tabCloseButton {
	position: fixed;
	top: 1em;
	border: solid;
	margin-left: 12em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 2;
}

.grabbedTabCloseButton {
	position: absolute;
	margin-top: 1em;
	border: solid;
	margin-left: 12em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 5;
	opacity: 80%;
}

.focusedTab {
	position: fixed;
	top: 0;
	width: 10em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: pointer;
	z-index: 2;
	background: #262538;
}

.grabbedFocusedTab {
	position: absolute;
	top: 0;
	width: 10em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: pointer;
	z-index: 5;
	background: #262538;
	opacity: 80%;
}

.tab {
	position: fixed;
	top: 0;
	width: 10em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: pointer;
	z-index: 2;
	background: #61607c;
}

.bodyPosition {
	/* border: solid; */
	/* display: inline-block; */
	margin-left: 22em;
}

/* ID's */

#codeAntonio {
	margin-left: 2em;
	color: #fff;
}

#offScreen {
	border: solid;
	z-index: -1;
}

/* The magic number is 191.9px increments */
