@font-face {
	font-family: 'AdobeClean-Regular';
	src: url(../fonts/adobeclean/AdobeClean-Regular.ttf);
}

@font-face {
	font-family: 'AdobeClean-Light';
	src: url(../fonts/adobecleanlight/AdobeCleanUX-SemiLight.ttf);
}

@font-face {
	font-family: 'AdobeClean-Lighter';
	src: url(../fonts/adobecleanreallight/AdobeClean-Light.ttf);
}

:root {
	--cursor-pointer: pointer;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: sans-serif;
	background: #262538;
	scroll-behavior: smooth;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

:root {
	--bg-color: brown;
}

h1 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	font: normal normal 600 40px Source Code Pro;
}

h2 {
	font-family: 'Source Code Pro', monospace;
	font-size: 22px;
}

h3 {
	font-family: AdobeClean-Regular;
	font-size: 18px;
	letter-spacing: 0.8px;
}

a {
	cursor: var(--cursor-pointer);
}

button {
	/* border: #fff; */
	z-index: 3;
	width: 1.5em;
	height: 1.5em;
}

ul {
	padding: 0;
}

img {
	max-width: 47vw;
}

#activeNoHover {
	border: solid;
	z-index: 100;
}

/* .sideNavTop {
	position: fixed;
	top: 0em;
	width: 270px;
	height: 4em;
	background: #3a3950;
	z-index: 3;
} */

.sideNavUL {
	margin-left: 3em;
}

.sideNavUL:hover {
	border-right-style: hidden;
	/* margin-left: 1em; */
}

.titleList {
	padding-bottom: 0.3em;
	padding-top: 0.2em;
	list-style-type: none;
}

.titleList:hover {
	background-color: #61607c80;
	/* border: solid; */
	/* padding-left: 2em; */
}

#sectionHome:hover {
	/* margin-left: -2em; */
	/* background-size: 1em; */
}

li {
	/* height: 2em; */
	/* list-style: katakana; */
	white-space: nowrap;
	vertical-align: bottom;
	cursor: pointer;
}

svg {
	position: fixed;
	/* border: solid; */
	z-index: 10;
}

.sideNavBorder {
	margin-left: -0.685em;
}

.sideNavBorder li {
	padding-left: 1.9em;
	padding-top: 0.2em;
	padding-bottom: 0.3em;
	display: block;
}

.sideNavBorder li:hover {
	background-color: #61607c80;
}

.test {
	/* border: solid; */
}

/* Classes */

.inline {
	display: inline-block;
}

.header {
	/* border: solid; */
	position: fixed;
	background: #323146;
	height: 3.5em;
	width: 100vw;
}

.highlightedHeader {
	/* border: solid; */
	position: fixed;
	background: #3e3c55;
	height: 3.5em;
	width: 100vw;
}

.headerSpaceFill {
	height: 2em;
}

.white {
	color: #ffffff;
}

.yellow {
	color: #ffe398;
}

.grey {
	color: #d5d5d9;
}

.darkGrey {
	color: #bfbfc5;
}

.pad {
	padding-left: 0.6em;
	padding-right: 0.6em;
}

.biggerTitle {
	font: normal normal 600 52px Source Code Pro;
}

.biggerContent {
	font-size: 29px;
}

.nav {
	/* border: solid; */
	background: #3a3950;
	/* top: 0px; */
	/* left: 0px; */
	width: 350px;
	height: 0;
}

.sideNav {
	background: #3a3950;
	position: fixed;
	z-index: 2;
	width: 270px;
	height: 200vh;
	top: 2.2em;
	color: #fff;
}

.navText {
	font-family: AdobeClean-Regular, sans-serif;
	font-size: 18.5px;
	letter-spacing: 0.8px;
}

.headerAntonio {
	position: fixed;
	z-index: 1;
	width: 270px;
	height: 3.8em;
	background: #3a3950;
	z-index: 4;
}

.tabContentPosition {
	max-width: 58em;
	margin-right: 2em;
	margin-bottom: 4em;
}

.tabContent {
	/* border: solid; */
	position: absolute;
	bottom: -0.11em;
	left: 3.1em;
	/* padding-bottom: 10em; */
}

.tabCloseButton {
	position: fixed;
	top: 1.2em;
	margin-left: 10.9em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 2;
}

.tabCloseButtonAlt {
	position: fixed;
	top: 0.95em;
	margin-left: 10.55em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 2;
}

.grabbedTabCloseButton {
	position: fixed;
	margin-top: 1.2em;
	/* border: solid; */
	margin-left: 10.9em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	z-index: 5;
	opacity: 80%;
}

.focusedTab {
	position: fixed;
	top: 0;
	width: 10.55em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: var(--cursor-pointer);
	z-index: 2;
	background: #262538;
}

.highlightedArea {
	background-color: #767595;
}

.grabbedFocusedTab {
	position: fixed;
	top: 0;
	width: 10.55em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	z-index: 5;
	background: #262538;
	opacity: 80%;
}

.tab {
	position: fixed;
	top: 0;
	width: 10.55em;
	height: 2.95em;
	font-family: AdobeClean-Light, AdobeClean-Regular, sans-serif;
	font-size: 19px;
	letter-spacing: 0.8px;
	font-weight: lighter;
	color: #fff;
	cursor: var(--cursor-pointer);
	z-index: 2;
	background: #4f4f69;
}

.bodyPosition {
	margin-left: 22em;
}

.contentDiv {
	/* border-left: solid;
	border-color: #504f6e; */
	/* border-width: 3.5px; */
	/* padding-left: 1em; */
	/* margin-top: 2em; */
}

.titleSpace {
	/* border: solid; */
	margin-top: 3em;
	margin-bottom: -1em;
}

.contentSide {
	border-left: solid;
	border-color: #504f6e;
	border-width: 3.5px;
	margin-left: 0.3em;
	padding-left: 2em;
	/* padding-left: 1em; */
}

.sideNavBorder {
	border-left: solid;
	border-color: #babac9;
	border-width: 2px;
}

.github {
	position: fixed;
	/* rotate: 90deg; */
	top: 0.7em;
	right: 1em;
}

.drop {
	left: 2.05em;
	margin-top: 0.35em;
}

.tabIcon {
	position: fixed;
	top: 0.9em;
	margin-left: 1.3em;
}

.grabIcon {
	margin-top: 0.9em;
	margin-left: 1.3em;
}

.sideNavIcon {
	/* border: solid; */
	margin-left: -1em;
	margin-top: 0.29em;
}

.underline {
	text-decoration: underline #ffe398;
	text-decoration-thickness: 2px;
	text-underline-position: under;
}

.link {
	cursor: pointer;
}

/* ID's */

#codeAntonio {
	margin-left: 2em;
	color: #fff;
}

#offScreen {
	z-index: -1;
	display: none;
}

#grabbedTab {
	pointer-events: none;
}

/* The magic number is 191.9px increments */

/* Media Queries */

@media (max-width: 1289px) {
	.biggerTitle {
		font: normal normal 600 50px Source Code Pro;
	}
}
@media (max-width: 1253px) {
	.biggerTitle {
		font: normal normal 600 48px Source Code Pro;
	}
}

@media (max-width: 1200px) {
	.headerAntonio {
		width: 200px;
		height: 3.6em;
	}
	#codeAntonio {
		margin-left: 1em;
		/* text-align: center; */
		color: #fff;
	}
	.sideNav {
		z-index: 2;
		width: 200px;
	}
	.sideNavUL {
		margin-left: 1.5em;
	}
	.drop {
		left: 0.5em;
		margin-top: 0.35em;
	}
	.navText {
		font-family: AdobeClean-Regular, sans-serif;
		font-size: 16.5px;
		letter-spacing: 0.8px;
	}
	.titleList {
		padding-bottom: 0.35em;
		padding-top: 0.35em;
		list-style-type: none;
	}
	.bodyPosition {
		margin-left: 15em;
	}
	.inline {
		margin-top: -0.5em;
	}
	.titleSpace {
		margin-top: 5em;
		margin-bottom: -1em;
	}
	.biggerTitle {
		font: normal normal 600 45px Source Code Pro;
	}
}

@media (max-width: 1055px) {
	.biggerTitle {
		font: normal normal 600 50px Source Code Pro;
	}
}

@media (max-width: 613px) {
	.sideNav {
		display: none;
	}
	.bodyPosition {
		margin-left: 1em;
	}
	.tabContentPosition {
		/* border: solid; */
		max-width: 92vw;
		margin-right: 0em;
		margin-bottom: 4em;
	}
	.inline {
		margin-top: -0.4em;
	}
	/* h2 {
		font-family: 'Source Code Pro', monospace;
		font-size: 22px;
	} */
	/* .dynamicYellow {
		color: #ffe398;
	} */
	/* .dynamicStar {
		display: none;
	} */
	/* .titleSpace {
		margin-top: 5em;
		margin-bottom: -1em;
	} */
}

@media (max-width: 400px) {
	.biggerTitle {
		font: normal normal 600 47px Source Code Pro;
	}
	.tabContentPosition {
		/* border: solid; */
		max-width: 91vw;
		margin-right: 0em;
		margin-bottom: 4em;
	}
	h2 {
		font-family: 'Source Code Pro', monospace;
		font-size: 20px;
	}
	.biggerContent {
		font-size: 24px;
	}
	.titleSpace {
		margin-top: 3em;
		margin-bottom: -1em;
	}
	.dynamicStar {
		display: none;
	}
	h1 {
		font-family: 'Source Code Pro', monospace;
		font-weight: 600;
		font: normal normal 600 40px Source Code Pro;
	}

	/* .inline {
		display: inline-block;
	} */
}
